  <div class="col-sm-7 mgbt-xs-20">
    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> EXPERIENCE</h3>
    <div class="content-list content-menu">
      <ul class="list-wrapper">
        <li class="mgbt-xs-10" *ngFor="let experience of experiences">
          <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span>
          <span class="menu-text">
            <a>{{ experience.title }}</a> at <a>{{ experience.company }}</a>
            <span class="menu-info">
              <span class="menu-date"> {{ experience.startingDate | amDateFormat: 'MMM, YYYY' }} ~
                {{ experience.endingDate != null ? (experience.endingDate | amDateFormat: 'MMM, YYYY') : 'Present'}}</span></span> </span> </li>
      </ul>
    </div>
  </div>

