<div *ngFor="let post of posts">

  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <img src="./assets/img/user.svg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <span class="w3-right w3-opacity">{{ post.postDate | amTimeAgo}}</span>
    <h4><a [routerLink]="['profile', post.creator.username]">{{ post.creator.displayName }}</a></h4><br>
    <hr class="w3-clear">
    <p>{{post.context}}</p>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half" style="margin-left: 5px; cursor:pointer;">
        <i><a (click)="showLikes(post.postId)">{{ post.numberOfLikes }} Likes</a></i>
        <!--<img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">-->
      </div>
    </div>
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" (click)="addComment(post.postId)"><i class="fa fa-comment"></i>  Comment</button>
    <accordion>
      <accordion-group heading="Show all comments..." (isOpenChange)="showComments(post.postId)">
          <div *ngFor="let comment of comments">
            <div class="w3-container w3-card w3-white w3-round ">
              <h4><a [routerLink]="['profile', comment.commenter.username]">{{ comment.commenter.displayName }}
                <span class="w3-right w3-opacity">{{ comment.commentDate | amTimeAgo}}</span>
              </a></h4><br>

              <p>{{comment.context}}</p>
            </div>
          </div>
      </accordion-group>
    </accordion>
  </div>
</div>
