<app-navbar></app-navbar>

<div class="vd_title-section clearfix">
  <div class="vd_panel-header no-subtitle">
  </div>
</div>
<div class="vd_content-section clearfix">
  <div class="row">

    <div class="col-sm-3">
      <div class="panel widget light-widget panel-bd-top">
        <div class="panel-heading no-title"></div>
        <div class="panel-body">
          <div (click)="openFileUploadModal()" class="text-center vd_info-parent"><img alt="example image"
                                                                                       [src]="user.imagePath"></div>
          <div class="row" *ngIf="!myProfile()">
            <div *ngIf="friends()">
            <div class="col-xs-12"><a class="btn vd_btn vd_bg-green btn-xs btn-block no-br"><i
              class="fa fa-check-circle append-icon"></i>Friends</a></div>
              <div class="col-xs-12"><a [routerLink]="['/messages', user.userId]"
                                        class="btn vd_btn vd_bg-grey btn-xs btn-block no-br"><i
              class="fa fa-envelope append-icon"></i>Send Message</a></div>
            </div>
            <div *ngIf="!friends()" (click)="addFriend()">
              <div class="col-xs-12"><a class="btn vd_btn vd_bg-green btn-xs btn-block no-br"><i
                class="fa fa-plus-circle append-icon"></i>Add Connection</a></div>
            </div>
          </div>
          <div class="row" *ngIf="myProfile()">
            <div class="col-xs-12" (click)="openFileUploadModal()"><a
              class="btn vd_btn vd_bg-grey btn-xs btn-block no-br"><i
              class="fa fa-image append-icon"></i>Change Profile picture</a></div>
          </div>

          <h2 class="font-semibold mgbt-xs-5">{{ user.displayName }}</h2>
          <h4>Owner at Our Company, Inc.</h4>
          <div class="mgtp-20">
            <table class="table table-striped table-hover">
              <tbody>
              <tr>
                <td style="width:60%;">Status</td>
                <td><span class="label label-success">Active</span></td>
              </tr>
              <tr>
                <td>Member Since</td>
                <td> {{ user.dateCreated | amDateFormat: 'MMM, YYYY' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- panel widget -->

      <app-friends [friends]="userFriends" [userId]="user.userId"></app-friends>
      <!-- panel widget -->
    </div>

    <div class="col-md-9">
      <div class="tab-content"></div>
      <div id="profile-tab" class="tab-pane active ">
        <div class="pd-20">
          <app-basic-info [user]="user"></app-basic-info>
          <hr class="pd-10"/>
          <div class="row">
            <app-experience [userId]="user.userId" [experiences]="experiences"></app-experience>
            <app-education [userId]="user.userId" [educations]="educations"></app-education>
          </div>
          <!-- row -->
          <hr class="pd-10"/>
          <div class="row">
            <app-posts [userId]="user.userId" [posts]="posts"></app-posts>
            <!-- col-sm-7 -->
            <app-skills [userId]="user.userId" [skills]="skills"></app-skills>
            <!-- col-sm-7 -->
          </div>
          <!-- row -->
        </div>
        <!-- pd-20 -->
      </div>
    </div>
  </div>
</div>
