<div class="col-sm-5">
  <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-trophy mgr-10 profile-icon"></i> EDUCATION</h3>
  <div class="content-list content-menu">
    <ul class="list-wrapper">
      <li class="mgbt-xs-10" *ngFor="let education of educations">
        <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span>
        <span class="menu-text">
          {{ education.universityDegree}}
          <a>{{ education.universityName }}</a>
          <span class="menu-info">
            <span class="menu-date"> {{ education.startingDate | amDateFormat: 'MMM, YYYY'}} ~
            {{ education.endingDate | amDateFormat: 'MMM, YYYY'}}</span></span> </span> </li>
    </ul>
  </div>
</div>
