<div class="modal-header">
  <h4 class="modal-title pull-left"> {{mode}}  your post</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form id="basic-info" [formGroup]="postForm" (ngSubmit)="onSubmit(postForm)">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">Post name:</label>
          <div class="col-xs-8 controls"><textarea rows="4" class="form-control" formControlName="context"></textarea></div>
          <!-- col-sm-10 -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">Visible:</label>
          <div class="col-xs-8 controls">
            <select  class="form-control" formControlName="visible">
              <option [ngValue]="0">Private</option>
              <option [ngValue]="1">Public</option>
            </select>
          </div>
          <!-- col-sm-10 -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success">{{mode}}</button>
  </div>
</form>
