
.content {
  margin-top: 25px;
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}

@media screen and (min-width: 900px) {
  .content {
    width: calc(100% - 340px);
  }
}

.content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}

.content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}

.content .contact-profile p {
  float: left;
}

.content .contact-profile .social-media {
  float: right;
}

.content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}

.content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}

.content .contact-profile .social-media i:hover {
  color: #435f7a;
}

.content .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  .content .messages {
    max-height: calc(100% - 105px);
  }
}

.content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}

.content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}

.content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}

.content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}

.content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}

.content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}

.content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}

@media screen and (min-width: 735px) {
  .content .messages ul li p {
    max-width: 300px;
  }
}

.content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.content .message-input .wrap {
  position: relative;
}

.content .message-input .wrap input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 60px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}

@media screen and (max-width: 735px) {
  .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}

.content .message-input .wrap input:focus {
  outline: none;
}

.content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}

.content .message-input .wrap .attachment:hover {
  opacity: 1;
}

.content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}

@media screen and (max-width: 735px) {
  .content .message-input .wrap button {
    padding: 16px 0;
  }
}

.content .message-input .wrap button:hover {
  background: #435f7a;
}

.content .message-input .wrap button:focus {
  outline: none;
}
