<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center">{{ currentUser.name }}</h4>
          <p class="w3-center"><img [src]="currentUser.imagePath === null? defaultPhoto: currentUser.imagePath"
                                    class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
          <hr>
          <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.jobTitleCompany}}</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.address}}</p>
          <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{currentUser.birthdate | date:'longDate'}}</p>
        </div>
      </div>
      <br>
      <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <app-post-form></app-post-form>

      <app-post-list [userId]="currentUser.userId" [posts]="posts"></app-post-list>
      <!-- End Middle Column -->
    </div>

    <!-- Right Column -->


    <!--<div class="w3-card w3-round w3-white w3-center">-->
    <!--<div class="w3-container">-->
    <!--<p>Friend Request</p>-->
    <!--<img [src]="defaultPhoto" alt="Avatar" style="width:50%"><br>-->
    <!--<span>Jane Doe</span>-->
    <!--<div class="w3-row w3-opacity">-->
    <!--<div class="w3-half">-->
    <!--<button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>-->
    <!--</div>-->
    <!--<div class="w3-half">-->
    <!--<button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<br>-->



      <!-- End Right Column -->
    <!--</div>-->

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<br>
