<br>

<div class="job-list" *ngFor="let job of jobs">
  <div class="w3-container w3-card w3-white w3-round col-md-4">
    <div class="col-md-11">
      <h3>{{ job.title }}
        <span><button class="btn btn-worklife w3-right" (click)="addJob()">Apply</button></span>
      </h3>
      <h4>at <a><i>{{ job.company}}</i></a></h4>
      <accordion>
        <accordion-group heading="See More...">
          <p>{{ job.description }}</p>
          <h5>Posted: <i>{{job.dateCreated | amCalendar }}</i></h5>
          <h5>by: <a [routerLink]="['/profile', job.author.username]">
            {{job.author.displayName}}</a></h5>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>

<button class="btn btn-worklife-success w3-right" (click)="addJob()">Add new</button>
