/* You can add global styles to this file, and also import other style files */
.main-footer {
  margin-left: 0 !important;
  min-height: 0 !important;
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: solid #d2d6de;
}
