<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->


<!--<div class="limiter">-->
<div class="container-register100">
  <div class="wrap-register100">
    <div class="register100-pic js-tilt" data-tilt>
      <img src="assets/img/img-01.png" alt="IMG">
    </div>
    <form class="register100-form validate-form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div *ngIf="showError">
        <alert type="danger">
          <strong>Error:</strong> {{ errorMessage }}
        </alert>
      </div>
      <div *ngIf="showPasswordMismatch">
        <alert type="danger">
          <strong>Error:</strong> Passwords does not match!
        </alert>
      </div>
					<span class="register100-form-title">
						Hello, Welcome to Worklife!
					</span>

      <div class="wrap-input100" [ngClass]="{'ng-error': !registerForm.get('email').valid && registerForm.get('email').touched}" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="email" placeholder="Email" formControlName="email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
      </div>

      <div class="wrap-input100" [ngClass]="{'ng-error': !registerForm.get('name').valid && registerForm.get('name').touched}" data-validate="Name must be at least 3 chars">
        <input class="input100" type="text" name="name" placeholder="Name" formControlName="name">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
      </div>

      <div class="wrap-input100" [ngClass]="{'ng-error': !registerForm.get('surname').valid && registerForm.get('surname').touched}" data-validate="Surname must be at least 2 chars">
        <input class="input100" type="text" name="surname" placeholder="Surname" formControlName="surname">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-id-card" aria-hidden="true"></i>
						</span>
      </div>

      <div class="wrap-input100" [ngClass]="{'ng-error': !registerForm.get('birthdate').valid && registerForm.get('birthdate').touched}" data-validate="Insert your birthdate">
        <input type="text" placeholder="Birthdate" class="input100 theme-default" bsDatepicker formControlName="birthdate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default' }">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-birthday-cake" aria-hidden="true"></i>
        </span>
      </div>

      <div class="wrap-input100" [ngClass]="{'ng-error': !registerForm.get('username').valid && registerForm.get('username').touched}" data-validate="Username must be at least 3 chars">
        <input class="input100" type="text" name="username" placeholder="Username" formControlName="username">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-user-secret" aria-hidden="true"></i>
						</span>
      </div>

      <div class="wrap-input100" [ngClass]="{'ng-error': !registerForm.get('password').valid && registerForm.get('password').touched}" data-validate="Password must be at least 6 chars">
        <input class="input100" type="password" name="password" placeholder="Insert your Password (min: 6 chars)" formControlName="password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
      </div>

      <div class="wrap-input100" [ngClass]="{'ng-error': !registerForm.get('password2').valid && registerForm.get('password2').touched}" data-validate="Must be the same with password">
        <input class="input100" type="password" name="password2" placeholder="Retype Password" formControlName="password2">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
      </div>

      <div class="wrap-input100" [ngClass]="{'ng-error': !registerForm.get('phone').valid && registerForm.get('phone').touched}" >
        <input class="input100" type="text" name="phone" placeholder="Phone number" formControlName="phone">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</span>
      </div>
      <div class="wrap-input100" [ngClass]="{'ng-error': !registerForm.get('address').valid && registerForm.get('address').touched}" >
        <input class="input100" type="text" name="address" placeholder="Address" formControlName="address">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-map" aria-hidden="true"></i>
						</span>
      </div>

      <!--birthdate-->

      <div class="container-register100-form-btn">
        <button class="register100-form-btn">
          Register
        </button>
      </div>

      <div class="text-center p-t-36">
        <a class="txt2" [routerLink]="['/welcome']">
          Already a user? Login
          <i class="fa fa-long-arrow-alt-left m-l-5" aria-hidden="true"></i>
        </a>
      </div>
    </form>
  </div>
</div>
<!--</div>-->

<script>
  $('.js-tilt').tilt({
    scale: 1.1
  })
</script>
