<div class="col-sm-6">
  <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-globe mgr-10 profile-icon"></i> ACTIVITY</h3>
  <div class="">
    <div class="content-list">
      <div style="height: 400px;">
        <ng-scrollbar thumbClass="custom-scrollbars">
          <div data-rel="scroll">
            <ul class="list-wrapper">
              <li *ngFor="let post of posts">
                <div *ngIf="myProfile() || post.visible ">
                  <span class="menu-icon vd_green">
                    <i class=" fa fa-book"></i></span>
                  <span class="menu-text"> {{ post.context }}<span class="menu-info"><span class="menu-date">
              ~ {{ (today | amDifference: post.postDate :'days' : true)| number:'1.0-0'}} days ago
              <button type="button" *ngIf="myProfile()" class="btn btn-xs btn-danger pull-right"
                      (click)="deletePost(post.postId)">
            <i class="fa fa-trash"></i>
            <span style="font-weight: bold"></span></button>
            </span></span> </span>
                </div>
              </li>

            </ul>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
