<div class="modal-header">
  <h4 class="modal-title pull-left"> {{mode}} your education</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form id="basic-info" [formGroup]="educationForm" (ngSubmit)="onSubmit(educationForm)">
  <div class="modal-body form-group">
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">University Degree:</label>
          <div class="col-xs-8 controls"><input class="form-control" formControlName="universityDegree"></div>
          <!-- col-sm-10 -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">University Name:</label>
          <div class="col-xs-8 controls"><input class="form-control" formControlName="universityName"></div>
          <!-- col-sm-10 -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">Date started:</label>
          <div class="col-xs-8 controls"><input class="form-control" formControlName="startDate" bsDatepicker
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default' }">
          </div>
          <!-- col-sm-10 -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">Current ?</label>
          <div class="col-xs-8 controls">
            <mat-checkbox [checked]="present" (change)="present = !present"></mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label" *ngIf="!present">Date ended:</label>
          <div class="col-xs-8 controls" *ngIf="!present">
            <input class="form-control" formControlName="endDate"
                   bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default' }">
          </div>
        </div>
        <!--col-sm-10-->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">Visible:</label>
          <div class="col-xs-8 controls">
            <select class="form-control" formControlName="visible">
              <option [ngValue]="0">Private</option>
              <option [ngValue]="1">Public</option>
            </select>
          </div>
          <!-- col-sm-10 -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success">{{mode}}</button>
  </div>
</form>
