<div class="panel widget light-widget">
  <div class="panel-body-list">
    <h3 class="pd-20 mgbt-xs-0"><a [routerLink]="['/connections', userId]"><i class="fa fa-users mgr-10"></i>Friends</a>
    </h3>
    <div class="content-grid column-xs-2 column-sm-3 height-xs-auto mgbt-xs-20">
      <div>
        <ul class="list-wrapper">
          <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="../../assets/img/user.svg"></span> </a> </li>
          <li class="warning"> <a href="#"> <span class="menu-icon"><img alt="example image" src="../../assets/img/user.svg"></span> </a> </li>
          <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="../../assets/img/user.svg"></span> </a> </li>
          <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="../../assets/img/user.svg"></span> </a> </li>
          <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="../../assets/img/user.svg"></span> </a> </li>
          <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="../../assets/img/user.svg"></span> </a> </li>
          <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="../../assets/img/user.svg"></span> </a> </li>
          <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="../../assets/img/user.svg"></span> </a> </li>
        </ul>
      </div>
    </div>
    <div class="closing text-center" style=""> <a href="#">See All Friends<i class="fa fa-angle-double-right prepend-icon"></i></a> </div>
  </div>
</div>
