<div class="modal-header">
  <h4 class="modal-title pull-left">Write your comment</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form id="commentForm" [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)">
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <div class="col-xs-12 controls">
          <input class="form-group col-md-12" formControlName="content" placeholder="type here..">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" form="commentForm" class="btn btn-success">Comment</button>
</div>
