<div class="modal-header">
  <h4 class="modal-title pull-left"> {{mode}}  your skill</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form id="basic-info" [formGroup]="skillForm" (ngSubmit)="onSubmit(skillForm)">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">Skill name:</label>
          <div class="col-xs-8 controls"><input class="form-control" formControlName="name"></div>
          <!-- col-sm-10 -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">Level:</label>
          <div class="col-xs-8 controls">
            <select  class="form-control" formControlName="level">
              <option [ngValue]="1">Fundamental</option>
              <option [ngValue]="2">Basic</option>
              <option [ngValue]="3">Intermediate</option>
              <option [ngValue]="4">Advanced</option>
              <option [ngValue]="5">Proficient</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12">
        <div class="row mgbt-xs-0">
          <label class="col-xs-4 control-label">Visible:</label>
          <div class="col-xs-8 controls">
            <select  class="form-control" formControlName="visible">
              <option [ngValue]="0">Private</option>
              <option [ngValue]="1">Public</option>
            </select>
          </div>
          <!-- col-sm-10 -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success">{{mode}}</button>
  </div>
</form>
